.body{
    
    position: relative;
    width: 100%;
    height: 641px;
    
}
.header{
    height: 18%;
    width: 100%;
    border: 0.25px solid rgb(36, 36, 119) ;
    background-color: rgb(36, 36, 119);
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
}
.main{
    height: 82%;
    width: 100%;
   
    position: absolute;
    left: 0px;
    bottom: 0px;

}
#part1{
    height: 100%;
    width: 25%;
    border: 0.25px solid rgb(164, 188, 219) ;
    background-color: rgb(164, 188, 219);
    position: absolute;
    left: 0px;
    top: 0px;  
}
.text{
    position: absolute;
    color: black;
    font-size: 18px;
    text-align: center;
    top: 30px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#part2{
    height: 100%;
    width: 50%;
    position: absolute;
    left:25%;
    top: 0px;  
}
.para{
    background-color: rgb(231, 227, 216);
    border: 7px solid black;
    margin: 30px;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
}
.tap{
    border: 7px solid black;
    margin: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    bottom: 10px;
    position: absolute;
}

#part3{
    height: 100%;
    width: 25%;
    border: 0.25px solid rgb(164, 188, 219) ;
    background-color: rgb(164, 188, 219);
    right: 0px;
    top: 0px;  
    position: absolute;
}
#cmp{
   display: flex;
   position: absolute;
   left: 55px;
   top: 100px;
   font-size: 60px;
   color: blanchedalmond;
   margin: 2px;
}

.botton{
    position: absolute;
    right: 100px;
    bottom: 120px;
    border: 4px solid rgb(30, 35, 100);
    background-color: rgb(71, 202, 219);
    text-align: center;
    font-size: 20px;
    width: 40%;
    height: 5%;

}
a{
    text-decoration: none;
}
